/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.section_task-mode {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.section__task-row-wrapper {
  display: flex;
}

.section__task-list {
  margin: 0;
  padding: 0px;
}

.item{
  list-style: none;
}

.section__button {
  outline: none;
}

.section__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.section__button:hover {
  color: #3a3a3a;
}

/* Heading */
.section_add-tasks{
  margin: 16px 0;
}

.section__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.section__text-input:focus {
  color: #333;
}

/* New Task */
.section__header_new-task-header {
  display: block;
  margin: 0 0 20px;
}

.section__text-input_new-task {
  width: 318px;
}

/* Task list */
.section__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__task > * {
  vertical-align: middle;
}

.section__task > input[type="checkbox"] {
  margin: 0 10px;
}

.section__task > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.section__task > input[type="text"] {
  width: 226px;
}

.section__button_task-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.section__button_task-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.section__task-list_completed label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.section__task input[type=text] {
  display: none;
}

.section__task.edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}

.section__task.edit-mode label {
  display: none;
}